.App {
  margin: 20px;
  padding: 20px;
  height: 100%;
  background: #ffffffff;

}

.container{
  display: flex;
  flex-direction: column;
  border: 4px solid #007AA6;
  border-radius: 6px;
  padding: 20px;
  color: #363636;
}